<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tigre Warning</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}?v=2">
</head>

<body>
    <main class="contenedor">
        <h1>🐯 Tigre Warning</h1>

        <p class="descripcion">
            Nunca te pierdas un partido de Tigres.
        </p>

        <section class="tarjeta">
            <p class="etiqueta">PRÓXIMO PARTIDO</p>

            <h2>
                {{ partido.local }}
                <span>vs.</span>
                {{ partido.visitante }}
            </h2>

            <div class="informacion">
                <p>📅 {{ partido.fecha }}</p>
                <p>⏰ {{ partido.hora }}</p>
                <p>🏟️ {{ partido.estadio }}</p>
            </div>

            <a class="boton" href="/probar-alerta">
                Probar alerta de Discord
            </a>
        </section>
        <section class="calendario">
            <div class="encabezado-calendario">
                <div>
                    <p class="etiqueta">TEMPORADA 2026</p>
                    <h2>Calendario de Tigres</h2>
                </div>

                <a class="enlace-oficial" href="https://www.tigres.com.mx/es/tigres/calendario/" target="_blank"
                    rel="noopener noreferrer">
                    Consultar sitio oficial ↗
                </a>
            </div>

            {% if calendario %}
            <div class="lista-partidos">
                {% for juego in calendario %}
                <article class="partido-calendario">
                    <div class="fecha-partido">
                        <strong>{{ juego.fecha }}</strong>
                        <span>{{ juego.hora }}</span>
                    </div>

                    <div class="equipos-partido">
                        <strong>
                            {{ juego.local }} vs. {{ juego.visitante }}
                        </strong>

                        <span>🏟️ {{ juego.estadio }}</span>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% else %}
            <p>No hay partidos disponibles actualmente.</p>
            {% endif %}
        </section>
    </main>
</body>

</html>